@import "./mixin.scss";

.holder {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.gradient-green {
    background: linear-gradient(to bottom left, rgb(0, 204, 0), rgb(43, 152, 255));
}
.gradient-black {
    background: linear-gradient(to bottom left, rgb(17, 17, 17), rgb(82, 82, 82));
}
.my-shadow-green {
    box-shadow: 10px 7px 15px rgba(43, 152, 255, .3);
}
.my-shadow-black {
    box-shadow: 10px 7px 15px rgba(0, 0 ,0 , .2);
}


.btn {
    height: 3.25rem;
    width: 10rem;
    position: relative;
    font-weight: 600;
    display: grid;
    place-items: center;
    font-size: .8rem;
    text-transform: uppercase;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    overflow: hidden;
    
    @include phone-only {
        height: 2.75rem;
        width: 8rem;
    }

    span {
        position: absolute;
        z-index: 5;
    }

    &-primary {
        color: white;
        background-image: linear-gradient(to bottom right, rgb(0, 204, 0), rgb(43, 152, 255));
        box-shadow: 10px 7px 15px rgba(43, 152, 255, .3);

        &::after {
            content: "";
            width: 0px;
            height: 0px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: black;
            border-radius: 50%;
            transition: width 700ms ease, height 700ms ease;
        }
    
        &:hover {
            &::after {
                width: 500px;
                height: 500px;
            }
        }
    }

    &-secondary {
        color: white;
        background-color: #333;
        box-shadow: 10px 7px 15px rgba(0, 0 ,0 , .2);

        &::after {
            content: "";
            width: 0px;
            height: 0px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgb(90, 90, 90);
            border-radius: 50%;
            transition: width 700ms ease, height 700ms ease;
        }
    
        &:hover {
            &::after {
                width: 500px;
                height: 500px;
            }
        }
    }
}